<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login-style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="images/logo.jpg" alt="Logo" class="logo">
            <h1>Strength Training Journey</h1>
        </div>
        <button id="toggleTextSize" style="float: right;">Toggle Text Size</button>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/exercises">Exercises</a>
        <a href="/resources">Resources</a>
        <a href="/rewards">Rewards</a>
        <a href="/profile">Profile</a>
    </nav>
    <main class="login-container">
        <h2>Login to Your Account</h2>
        <!-- Login Form -->
        <form id="loginForm" action="/login" method="post">
            <label for="loginUsername">Username:</label>
            <input type="text" id="loginUsername" name="username" required>
            <label for="loginPassword">Password:</label>
            <input type="password" id="loginPassword" name="password" required>
            <button type="submit">Login</button>
        </form>

        <!-- Signup Form -->
        <form id="signupForm" action="/signup" method="post">
            <label for="signupUsername">Username:</label>
            <input type="text" id="signupUsername" name="username" required>
            <label for="signupPassword">Password:</label>
            <input type="password" id="signupPassword" name="password" required>
            <label for="signupEmail">Email:</label>
            <input type="email" id="signupEmail" name="email" required>
            <button type="submit">Sign Up</button>
        </form>

    </main>
    <script src="scripts/login-script.js"></script>
</body>
</html>
