<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/resources-style.css">
    <title>Resources</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="images/logo.jpg" alt="Logo" class="logo">
            <h1>Strength Training Journey</h1>
        </div>
        <button id="toggleTextSize" style="float: right;">Toggle Text Size</button>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/exercises">Exercises</a>
        <a href="/resources">Resources</a>
        <a href="/rewards">Rewards</a>
        <a href="/profile">Profile</a>
    </nav>
    <main>
        <section class="resource-list">
            <h2>Useful Resources</h2>
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            <ul>
                <li><a href="https://example.com/article1" target="_blank">Strength Training 101</a></li>
                <li><a href="https://example.com/article2" target="_blank">Nutrition for Muscle Growth</a></li>
                <li><a href="https://example.com/article3" target="_blank">Best Exercises for Beginners</a></li>
                <li><a href="https://example.com/article4" target="_blank">How to Stay Motivated</a></li>
                <li><a href="https://example.com/article5" target="_blank">Important Safety Tips</a></li>
            </ul>
        </section>
    </main>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="StrengthChatbot"
      agent-id="5d239e99-dcb4-4dba-b127-90b97d14894a"
      language-code="en"
    ></df-messenger>
    <footer>
        <p>&copy; 2024 Exercise Website</p>
    </footer>
</body>
</html>
