body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
}

main {
    padding-top: 80px;
}

#toggleTextSize {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleTextSize:hover {
    background-color: #1f648b;
}

nav {
    background-color: #34495e;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #2980b9;
    color: #fff;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    nav a, .introduction p, .text-container p {
        font-size: 16px;
    }

    .text-container {
        padding: 10px;
        font-size: 20px;
    }

    .login-container {
        padding: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav a, .introduction p, .text-container p {
        font-size: 17px;
    }

    .text-container {
        padding: 15px;
        font-size: 22px;
    }
}
